<!DOCTYPE html>
<html data-ng-app="maslowtech">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title> Ejs Boilerplate </title>
    <link rel="stylesheet" href="/assets/css/libs.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css" />
  </head>
  <body class="app">
      <!-- Page Content -->
        <div id="page-content-wrapper">
          <%- defineContent('pageContent') %>
        </div>
        <!-- /#page-content-wrapper -->

    <script src="js/libs.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>